In [95]:
import os
import pandas as pd
from datetime import datetime
from databases import PosicaoDm1Pickle, Crm,PosicaoDm1,Bawm
from filemanager import FileMgmt

dm1 = PosicaoDm1Pickle()
bawm = Bawm()
crm = Crm()
posicao = PosicaoDm1()

In [189]:
#Posicao
pos_ti = dm1.posicao_titularidade_all()[['NomeContaCRM','PLFuturo']].drop_duplicates()
pos_fundos = dm1.posicao_fundos_all(apenas_exclusivos=False)
pls_fundos = dm1.fundos_pl_estimado()

contas = crm.contas_movimento_all()[['accountid','Banco','new_agencia','new_numeroconta','new_digitoconta','ControleJBBName']]
contas = contas[(contas['new_agencia']=='2856')|(contas['Banco']=='Banco BTG Pactual SA')].rename(columns={'accountid':'GuidContaCRM'})


po_cadastro = posicao.po_cadastro(apenas_fundos=False)[['GuidContaCRM','NomeContaCRM','Officer','Controller','Segmento','Tipo','TipoCliente']]

pos_ti = pd.merge(left=pos_ti,right=po_cadastro, on='NomeContaCRM',how='left')
pos_ti = pos_ti[~pos_ti['TipoCliente'].str.contains('Distrato')]
pos_ti = pd.merge(left=pos_ti,right=contas, on='GuidContaCRM',how='left').drop_duplicates()

clientes_s_conta = pos_ti[pos_ti['new_agencia'].isnull()].sort_values(by=['Segmento'])
n_clientes_s_2856 = len(clientes_s_conta[['NomeContaCRM']].drop_duplicates())
n_clientes = len(pos_ti[['NomeContaCRM']].drop_duplicates())
percentual = n_clientes_s_2856 / n_clientes

In [200]:
clientes_s_conta.groupby(['Segmento']).count().reset_index().sort_values(by=['NomeContaCRM'],ascending=False)[['Segmento','NomeContaCRM']]

   Segmento  NomeContaCRM
2     Excel           153
3       GFO           144
1   Classic           132
0  Affluent           109

In [201]:
clientes_s_conta.groupby(['Officer']).count().reset_index().sort_values(by=['NomeContaCRM'],ascending=False)[['Officer','NomeContaCRM']]

                       Officer  NomeContaCRM
22          Natalia Gerspacher            63
31           Simone Scivoletto            53
26                 Pedro Amado            45
27              Renato Sapuppo            41
2          Andrea Pires Campos            36
12               Felipe Milano            36
21         Maria Claudia Cagno            35
29            Rosangela Browne            29
19              Lucia Penteado            29
9                Claudia Lopes            20
8                Carlos Hering            16
24              Patricia Jajah            16
1               Anacelia Netto            16
20                 Luiz Campos            13
16         Jucimara Dos Santos            11
10              Daniel Frajhof            10
33             Victoria Barros            10
0           Alessandro Barreto             9
17  Kevin Liu Ribeiro da Silva             9
25                Paulo Corrêa             7
30              Silvia Pannuti             7
18                Laura Correa             6
15           Jan Paula Brandão             3
5               Bruna Casanova             3
13          Flavio Mascarenhas             2
7                Carina Santos             2
6                   Bruno Bosi             2
28             Roberta Botelho             2
4               Andrew Hancock             2
14          Francisco Figueira             1
11              Eduardo Tabone             1
23               Olavo Pereira             1
3                Andrea Soares             1
32               Thabata Murat             1